# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
# Convert the date column format from string to datetime
df.loc[:,'date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs               object
dtype: object

In [6]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df

                station  prcp tobs
date
2010-01-01  USC00519397  0.08   65
2010-01-02  USC00519397  0.00   63
2010-01-03  USC00519397  0.00   74
2010-01-04  USC00519397  0.00   76
2010-01-06  USC00519397   NaN   73
...                 ...   ...  ...
2017-08-20  USC00516128   NaN   78
2017-08-21  USC00516128  0.56   76
2017-08-22  USC00516128  0.50   76
2017-08-23  USC00516128  0.45   76
NaT                 NaN   NaN  NaT

[19551 rows x 3 columns]

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [16]:
from scipy import stats

In [8]:
# Filter data for desired months
df.loc[:,'Month'] = df.index.month
df1 = df[(df['Month']==6) | (df['Month']==12)]
df1

                station  prcp tobs  Month
date
2010-06-01  USC00519397  0.00   78    6.0
2010-06-02  USC00519397  0.01   76    6.0
2010-06-03  USC00519397  0.00   78    6.0
2010-06-04  USC00519397  0.00   76    6.0
2010-06-05  USC00519397  0.00   77    6.0
...                 ...   ...  ...    ...
2017-06-26  USC00516128  0.02   79    6.0
2017-06-27  USC00516128  0.10   74    6.0
2017-06-28  USC00516128  0.02   74    6.0
2017-06-29  USC00516128  0.04   76    6.0
2017-06-30  USC00516128  0.20   75    6.0

[3217 rows x 4 columns]

In [9]:
# Identify the average temperature for June
june = df1[df1['Month']==6]['tobs'].mean()
june

74.94411764705882

In [12]:
# Identify the average temperature for December
dec = df1[df1['Month']==12]['tobs'].mean()
dec

71.04152933421226

In [20]:
# Create collections of temperature data
jn = df1[df1['Month']==6][['tobs']].astype('int64')
dc = df1[df1['Month']==12][['tobs']].astype('int64')
dc.dtypes

tobs    int64
dtype: object

In [21]:
# Run paired t-test
stats.ttest_ind(jn,dc)

Ttest_indResult(statistic=array([31.60372399]), pvalue=array([3.9025129e-191]))

### Analysis

In [22]:
print(f'Differences are not statistically significant since pvalue is too small')

Differences are not statistically significant since pvalue is too small